.hero {
    /* Remove the hardcoded background image */
    /* background: url('/GoBeach.jpg') no-repeat center center/cover; */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
}

.overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.overlay h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 20px;
    color: #f1f1f1;
}